*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor > div {
    background-color: cornsilk;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .contenido {
    grid-column: span 3;
    background-color:khaki;
}

.contenedor .widget-1
 {
    background-color:palegreen;
    grid-column-start: 1;
    grid-column-end: 5;
    color: black;
    
}

.contenedor1{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor1 > div {
    background-color: cornsilk;
    padding: 20px;
    border-radius: 4px;
}

.contenedor1 .contenido1 {
    grid-column: span 3;
    background-color:khaki;
}

.contenedor1 .widget-2
 {
    background-color:palegreen;
    grid-column-start: 2;
    grid-column-end: 3;
    color: black;
    
}

.contenedor1{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor1 > div {
    background-color: cornsilk;
    padding: 20px;
    border-radius: 4px;
}

.contenedor1 .contenido1 {
    grid-column: span 3;
    background-color:khaki;
}

.contenedor1 .widget-3
 {
    background-color:palegreen;
    grid-column-start: 2;
    grid-column-end: 3;
    color: black;
    
}

.contenedor2{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor2 > div {
    background-color: cornsilk;
    padding: 20px;
    border-radius: 4px;
}

.contenedor2 .contenido2 {
    grid-column: span 3;
    background-color:khaki;
}

.contenedor2 .widget-4
 {
    background-color:palegreen;
    grid-column-start: 2;
    grid-column-end: 3;
    color: black;
    
}

.contenedor3{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor3 > div {
    background-color: cornsilk;
    padding: 20px;
    border-radius: 4px;
}

.contenedor3 .contenido3 {
    grid-column: span 3;
    background-color:khaki;
}

.contenedor3 .widget-5
 {
    background-color:palegreen;
    grid-column-start: 2;
    grid-column-end: 3;
    color: black;
    
}

.contenedor4{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor4 > div {
    background-color: cornsilk;
    padding: 20px;
    border-radius: 4px;
}

.contenedor4 .contenido4 {
    grid-column: span 3;
    background-color:khaki;
}

.contenedor4 .widget-6
 {
    background-color:palegreen;
    grid-column-start: 2;
    grid-column-end: 3;
    color: black;
    
}

.contenedor5{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor5 > div {
    background-color: cornsilk;
    padding: 20px;
    border-radius: 4px;
}

.contenedor5 .contenido5 {
    grid-column: span 3;
    background-color:khaki;
}

.contenedor5 .widget-7
 {
    background-color:palegreen;
    grid-column-start: 2;
    grid-column-end: 3;
    color: black;
    
}

.contenedor6{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor6 > div {
    background-color: cornsilk;
    padding: 20px;
    border-radius: 4px;
}

.contenedor6 .contenido6 {
    grid-column: span 3;
    background-color:khaki;
}

.contenedor6 .widget-8
 {
    background-color:palegreen;
    grid-column-start: 2;
    grid-column-end: 3;
    color: black;
    
}

.contenedor7{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor7 > div {
    background-color: cornsilk;
    padding: 20px;
    border-radius: 4px;
}

.contenedor7 .contenido7 {
    grid-column: span 3;
    background-color:khaki;
}

.contenedor7 .widget-9
 {
    background-color:palegreen;
    grid-column-start: 2;
    grid-column-end: 3;
    color: black;
    
}

.contenedor8{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    text-align: center;
}

.contenedor8 > div {
    background-color: cornsilk;
    padding: 20px;
    border-radius: 4px;
}

.contenedor8 .contenido8 {
    grid-column: span 3;
    background-color:khaki;
    text-align: center;
}





@media screen and (max-width: 768px) {
    body {
        background-color: black;
    }

    .contenedor .contenido {
        grid-column: 1 / -1;
    }

    .contenedor .sidebar {
        grid-column: 1 / -1;
    }

    .contenedor .widget-1 {
        grid-column: span 2;
    }
}