*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor > div {
    background-color: cornsilk;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .contenido {
    grid-column: span 3;
    background-color:khaki;
}

.contenedor .widget-1,
.contenedor .widget-2,
.contenedor .widget-3,
.contenedor .widget-4,
.contenedor .widget-5,
.contenedor .widget-6
 {
    background-color:palegreen;
    color: black;
    
}

.contenedor .widget-7 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: palegreen;
    color: black;
}

@media screen and (max-width: 768px) {
    body {
        background-color: black;
    }

    .contenedor .contenido {
        grid-column: 1 / -1;
    }

    .contenedor .sidebar {
        grid-column: 1 / -1;
    }

    .contenedor .widget-1 {
        grid-column: span 2;
    }
}